@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;700&family=Days+One&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Biryani', Helvetica Neue, sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

h1,
h2 {
  font-family: 'Days One', sans-serif;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
